<connectionStrings>
  <add name="Local" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=RealEstate;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  <add name="Remote" connectionString="Server=1090f1f9-e462-4117-962d-a249014f643b.sqlserver.sequelizer.com;Database=db1090f1f9e4624117962da249014f643b;User ID=yaprfmrfewegnzek;Password=Zvs7PQRTxRHaGHT5cAqJCtsvQfZa4GiQZswNjdPqs2sD4QMKhnmfNJ5Fd5pJYRXY;"/>
</connectionStrings>